@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply bg-white text-gray-600 font-medium py-4 px-4;
}

@layer components {

    body {
        background: #f1f1f1;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }

    .loading-animation {
        background-color: #00a0fd;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0.25em;
        animation: loading 2s ease-in infinite alternate;
    }

    @keyframes loading {
        0%{
            width: 0%;
            left: 0%;
        }
        50% {
            width: 100%;
            left: 0%
        }
        100% {
            width: 0%;
            left: 100%
        }
    }
  }